Lab2Service/HttpClient/Service References/MathServiceRef/MathSevice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MathSevice" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1302/MathSevice.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1302/MathSevice.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMathSevice_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IMathSevice_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IMathSevice_Subtract_InputMessage">
    <wsdl:part name="parameters" element="tns:Subtract" />
  </wsdl:message>
  <wsdl:message name="IMathSevice_Subtract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubtractResponse" />
  </wsdl:message>
  <wsdl:message name="IMathSevice_Multiply_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiply" />
  </wsdl:message>
  <wsdl:message name="IMathSevice_Multiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="IMathSevice_Divide_InputMessage">
    <wsdl:part name="parameters" element="tns:Divide" />
  </wsdl:message>
  <wsdl:message name="IMathSevice_Divide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivideResponse" />
  </wsdl:message>
  <wsdl:message name="IMathSevice_CircleArea_InputMessage">
    <wsdl:part name="parameters" element="tns:CircleArea" />
  </wsdl:message>
  <wsdl:message name="IMathSevice_CircleArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:CircleAreaResponse" />
  </wsdl:message>
  <wsdl:portType name="IMathSevice">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathSevice/Add" message="tns:IMathSevice_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathSevice/AddResponse" message="tns:IMathSevice_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathSevice/Subtract" message="tns:IMathSevice_Subtract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathSevice/SubtractResponse" message="tns:IMathSevice_Subtract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathSevice/Multiply" message="tns:IMathSevice_Multiply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathSevice/MultiplyResponse" message="tns:IMathSevice_Multiply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathSevice/Divide" message="tns:IMathSevice_Divide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathSevice/DivideResponse" message="tns:IMathSevice_Divide_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CircleArea">
      <wsdl:input wsaw:Action="http://tempuri.org/IMathSevice/CircleArea" message="tns:IMathSevice_CircleArea_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMathSevice/CircleAreaResponse" message="tns:IMathSevice_CircleArea_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMathSevice" type="tns:IMathSevice">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IMathSevice/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Subtract">
      <soap:operation soapAction="http://tempuri.org/IMathSevice/Subtract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <soap:operation soapAction="http://tempuri.org/IMathSevice/Multiply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Divide">
      <soap:operation soapAction="http://tempuri.org/IMathSevice/Divide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CircleArea">
      <soap:operation soapAction="http://tempuri.org/IMathSevice/CircleArea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MathSevice">
    <wsdl:port name="BasicHttpBinding_IMathSevice" binding="tns:BasicHttpBinding_IMathSevice">
      <soap:address location="http://localhost:1302/MathSevice.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>